/********************************************************/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin:0; padding:0;
}
body { 
  background: #000; 
  color: #ccc; 
  font-size: 16px;
  --min-width: 600px;
  font-family: "Roboto", sans-serif; 
  font-weight: 300;    
  font-size: 16px;
}

/********************************************************/
a {
  text-decoration: none;
}
img {
  border:0;
}

/********************************************************/
#logo {
 float:right;
 width: 80px;
}

#playing { 
  font-size: 1.618em;  /* golden ratio font scale */
  background: #111;
  max-height: 160px;
  white-space: nowrap;   
}

#playing-cover { 
  float:left; 
  margin-left: 12px;
  margin-right: 12px;
  border-top: red solid 4px;
  width: 200px;
  height: 200px;  
}

#playing-cover img {
 width: 152px; /*=200-48*/
 height: 152px; /*=200-48*/
 margin:24px;  
 z-index:10;
}

#playing-label { padding-top: 24px; font-size: 12px; color: #999}
#playing-artist { color: #fff; }
#playing-song { color: #ccf; padding-bottom: 12px; overflow: hidden; }

#player-container { 
  position:relative; 
  overflow:hidden;
  --width:120px;
  background-color: #333;  
}
#player-container button { 
  background-color: #333;
  color: #eee;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  width: 60px; height: 40px;
}
#player-container button:hover { 
  color: white;
  background-color: #666;
}

#player-container button:disabled {
  cursor:default;
  color: #666;
}
#player-container button:disabled:hover {
  background-color: #333;
}


#played-label {
 clear: both;
 font-size: 12px;
 padding-left: 12px;
 color: #999;
}

#overlay {
  background-color: black;
  opacity: 0.8; 
  cursor: wait;
  position:absolute;
  top:160px;
  left:0;
  width:100%;
  height:100%;
}

#played { 
    clear:both;
    list-style-type:none;
    list-style-position:inside;
    margin-left: 12px;
    margin-top: 6px;
  }
  
  #played li {
   position:relative;
   display:inline-block;
   margin-right: 12px;
   margin-bottom: 12px;
   border-top: 1px solid #999;
   vertical-align: top;
   padding-top: 6px;
   overflow: hidden;
  }
  
  @media (max-width: 419px) {   
    #played li {
     width: 99%;
    }  
  }
  
  @media (min-width: 420px) {   
    #played li {
     width: 47%;
    }  
  }  
  
  @media (min-width: 650px) {   
    #played li {
     width: 200px;          
     height: 123px;
    }
  }  

  
  
  #played li:hover  {
   background-color: #300;
  }
  
    #played li img {
     float:left; 
     width: 84px;
     height: 84px;
     margin-right: 8px;
     object-fit: cover;
     --border: 1px solid #666;
     clear:both;
    }
    
    #played li p {
      overflow: hidden;
    }
         
    #played li p.timestamp {
     font-size:0.618em;
     color: #999;     
    }
    
    #played li p.artist {
     color: #fff;
    }
    
    #played li p.song {
     color: #ccf;
    }
    
    #played li .icon-remove,
    #played li .icon-like {
       position:absolute; 
       color: #999; 
       height:28px; width:28px;
       padding:6px;
       --border-radius: 50%;
       text-align: center;
       vertical-align: middle;
    }
    
    #played li .icon-remove:hover,
    #played li .icon-like:hover {
       color: white;    
       background-color: #633;       
    }
    
    #played li .icon-remove {
      right:0px;
      bottom:0px;
    }
    .icon-remove:before {
      /* fa-trash f1f8, fa-ban f05e, fa-times f00d */
      content: "\f1f8";
    }
    
    #played li .icon-like {
      left:0px;
      bottom:0px;
    }
    .icon-like:before {
      /* fa-thumbs-up f164 */
      content: "\f164";
    }

        
    #played li .icon-fav {
      position:absolute;
      right:6px;
      top:6px;
    }
    .icon-fav:before {
       content: "\f005";
       color: yellow;
    }
    
    