/*@import url(https://fonts.googleapis.com/css?family=Slabo+27px);*/
@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;  margin:0;padding:0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body { 
  background: #000; 
  color: #ccc; 
  /* "A Better Helvetica" and "Helvetica Neue Alternatives" */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "TeXGyreHeros", "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 16px;
  min-width: 600px;
}

a {
  text-decoration: none;
}

#logo {
 float:right;
 width: 80px;
}

#playing { 
  font-size: 1.618em;  /* golden ratio font scale */
  background: #111;
  max-height: 160px;
  white-space: nowrap;  
}

#playing-cover { 
  float:left; 
  width:200px; 
  margin-left: 12px;
  margin-right: 12px;
  border-top: red solid 4px;
  padding:24px; 
}

#playing-label { padding-top: 24px; font-size: 12px; color: #999}
#playing-artist { color: #fff; }
#playing-song { color: #ccf; padding-bottom: 12px }

#player { padding-bottom: 12px; }

#played-label {
 clear: both;
 font-size: 12px;
 padding-left: 12px;
 color: #999;
}

#played { 
    clear:both;
    list-style-type:none;
    list-style-position:inside;
    margin-left: 12px;
  }

  #played li {
   position:relative;
   display:inline-block;
   width: 200px;           /* golden ratio */
   height: 123px;
   margin-right: 12px;
   margin-bottom: 12px;
   border-top: 1px solid #999;
   vertical-align: top;
   padding-top: 6px;
   overflow: hidden;
  }
  
  #played li:hover,
  #playing:hover  {
   background-color: #300;
  }
  
    #played li img {
     float:left; 
     width:92px;
     padding-right: 8px;
     clear:both;    
    }
    
    #played li p {
      overflow: hidden;
    }
         
    #played li p.timestamp {
     font-size:0.618em;
     color: #999;     
    }
    
    #played li p.artist {
     color: #fff;
    }
    
    #played li p.song {
     color: #ccf;
    }
    
    #played li .icon-delete,
    #played li .icon-like {
       position:absolute; 
       color: #999; 
       padding:6px;
       border-radius: 12px;
    }
    
    #played li .icon-delete:hover,
    #played li .icon-like:hover {
       color: white;    
       background-color: #633;       
    }
    
    #played li .icon-delete {
      right:0px;
      bottom:0px;
    }
    
    #played li .icon-like {
      left:0px;
      bottom:0px;
    }
    
    #played li .icon-fav {
      position:absolute;
      right:6px;
      top:6px;
      color: red;
    }
